body {
    font-family: 'Noto Sans KR', sans-serif;
    /*중앙 정렬*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*여백제거*/
    margin: 0;
    background-color: #fff;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

h1 { /*DICOM to PNG Converter*/
    color: #555;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}

.upload-box {
    background-color: #f2f2f2;
    border: 2px dashed #bbb; /*점선*/
    border-radius: 20px; /*모서리 둘글*/
    padding: 60px 20px; /*안쪽 여백*/
    margin-bottom: 30px;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
}

/*드래그 시*/
.upload-box.active {
    background-color: #e8f0fe;
    border-color: #81b1ff;
    /*파란색 버튼으로 바뀌며 활성화*/
}

.icon-area { margin-bottom: 15px; }

.main-text {
    font-size: 16px;
    color: #777;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/*파일선택 버튼*/
#browse-btn {
    padding: 5px 10px;
    border: 1px solid #aaa;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #555;
}

.sub-text { font-size: 14px; color: #999; font-weight: bold; }

.file-name-display { color: #81b1ff; font-weight: bold; margin-top: 15px; }

/*변환버튼*/
.convert-btn {
    background-color: #aaccff;
    color: #fff;
    border: none;
    padding: 12px 50px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}

.convert-btn:hover { background-color: #88b3f7; }
/*비활성화 시 회색, 클릭 불가*/
.convert-btn:disabled { background-color: #ddd; cursor: not-allowed; }

/*로딩바 스타일*/
#loading-overlay { /*화면 불투명하게 덮고 로딩*/
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hidden { display: none !important; }

/*로딩바 틀*/
.progress-container {
    width: 300px;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

/*길어지는 바*/
.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #81b1ff;
    transition: width 0.1s linear; /* 부드럽게 */
}